@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$color-primary: #541674;
$color-secondary: #7e38b7;
$color-tertiary: #9c89ff;
$color-forth: #99cedd;
$color-fifth: #c4feff;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: $color-forth;
}